@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");

body {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nanum Pen Script";
  min-height: 100vh; /* 현재 웹스크린의 높이 100%를 최소 높이로 설정 */
  margin: 0;
}

@media (min-width: 390px) {
  .App {
    width: 390px;
  }
}

@media (max-width: 390px) {
  /* 650px 이하일 때 */
  .App {
    width: 100vw;
  }
}

#root {
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
  height: 844px;
}

.bold {
  font-weight: 700;
}
